.width30 {
    width: 30%;
}
.float_right {
    float: right !important;
}
.custom_img {
    width: 150px;
    height: 150px;
}
.card_title_center {
    width: 100%;
    text-align: center !important;
}
.is-invalid {
    border-color: #dc3545 !important;
}

.content-wrapper {
    background: transparent !important;
}

@media (min-width: 1200px) {
    .modal-xl {
        max-width: 1540px;
    }
}

